.create-new-room {
    display: flex;
    align-items: center;
    margin-top: 10px;
  }
  
  .create-new-room-input {
    flex: 1;
    padding: 10px;
    font-size: 16px;
    border: 1px solid #ddd;
    border-radius: 5px;
    margin-right: 10px;
  }
  
  .create-new-room-button {
    background-color: #007bff;
    color: white;
    border: none;
    padding: 10px 20px;
    font-size: 16px;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s ease;
  }
  
  .create-new-room-button:hover {
    background-color: #0056b3;
  }