.message-card {
  display: block;
  border-radius: 30px 0px 0px 30px;
  padding: 18px;
  margin: 17px 0;
  background-color: #1976D2;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  flex-direction: column; /* Stack content vertically */
  max-width: 70%;
  min-width: 60px;
  overflow: hidden;
  text-align: left;
  box-sizing: border-box;
  min-height: fit-content;
  overflow-wrap: break-word;
  word-break: break-word;
  white-space: normal;
}


.message-card p {
  font-size: 12px;
  color: #F8F9FA;
  overflow: hidden;
}

.message-card h3 {
  margin: 0;
  font-size: 15px;
  color: #F8F9FA;
}
.message-card.mirrored {
  border-radius: 0px 30px 30px 0px;
  background-color: #909191;
}

