@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@400;700&display=swap');

body {
    display: flex;
    flex-direction: column;
    justify-content: center;
    background-color: #f8f9fa;
    font-family: 'Roboto', sans-serif;
    text-align: center;
}