@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@400;700&display=swap');

body {
    display: flex;
    flex-direction: column;
    justify-content: center;
    background-color: #f8f9fa;
    font-family: 'Roboto', sans-serif;
    text-align: center;
}

.fancy-font {
    font-size: 3.5rem;
    font-weight: 1000;
    color: white; 
    -webkit-text-stroke: 2px #1976D2;
    margin-bottom: 0rem; 
}