.landing-page-intro {
     padding-top: 10%;
     padding-left: 5%;
     padding-right: 5%;
     display: flex;
     flex-direction: row;
     justify-content: center;
     align-items: center;
}

.landing-page-header-text {
     width: 50%;

     @media screen and (max-width: 1000px) {
          .landing-page-header-text {
              width: 100%;
              text-align: center;
          }
      }
     
}

.landing-page-header {
        font-size: 3.5rem;
        font-weight: 1000;
        color: white; 
        -webkit-text-stroke: 2px #1976D2;
        margin-bottom: 0rem; 
}

.landing-page-subheader {
        font-size: 1.5rem;
        font-weight: 1000;
        color: #4f4c4c;
        text-decoration: underline;
        text-decoration-color: #1976D2;
        text-align: center;        
     }