nav {
    padding: .4rem .4rem;
    align-items: center;
    display: flex;
    justify-content: right;
    
}

#nav-button {
    margin: 0 10px;
    width: 48px; 
    height: 48px;
    border-radius: 50%; 
    overflow: hidden; 
    min-width: 0;
    
}

.nav-button-icon {
    display: flex;
    align-items: center;
    justify-content: center;

}